/* songsPage.css */

.songs-page {
  padding: 10px 20px 20px 20px; /* Top, Right, Bottom, Left */
  font-family: Arial, sans-serif;
}

.songs-page h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.song-list {
  list-style: none; /* Remove default bullets */
  padding: 0;
}

.song-item {
  padding: 15px;
  border: 1px solid #67676783;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  background-color: #343131; /* Light grey background for better contrast */
  color: #848484; /* Dark text color for visibility */
  border-radius: 4px; /* Slightly rounded corners */
}

.song-item:hover {
  background-color: #727272; /* Darker grey on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle glow effect */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .search-bar input {
    width: 80%;
  }

  .song-item {
    flex: 1 1 100%;
    max-width: none;
  }
}
