/********************************
 * GLOBAL / BODY
 ********************************/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 30px; /* Equal to navbar height */
}

@media (max-width: 768px) {
  .admin-container {
    flex-direction: column;
    gap: 20px;
  }

  .admin-add-song,
  .admin-song-list {
    padding-left: 0;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .songs-page h1 {
    margin-top: 10px; /* Adjust as needed */
  }

  .song-item {
    padding: 10px; /* Reduce padding for smaller screens */
  }
}
